<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.lee.community.mapper.CommunityMsgMapper">
        <select id="queryMsg" resultType="com.lee.community.pojo.CommunityMsg" parameterType="int">
            select * from communityMsg where communityId = #{communityId}
        </select>
        
        <update id="updateMsg" parameterType="com.lee.community.pojo.CommunityMsg">
            update communityMsg
            set
            cname = #{cname},
            summary = #{summary},
            company = #{company},
            address = #{address},
            landmark = #{landmark},
            tell = #{tell}
            where communityId = #{communityId}
        </update>

</mapper>