<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.lee.community.mapper.RoleMapper">
    <select id="queryUserRole" parameterType="String" resultType="com.lee.community.pojo.UserRole">
        select ur.*,r.name from userrole ur,role r
        where ur.roleId = r.id and ur.userid = #{userid}
    </select>

</mapper>